#compName{
    color: #3c5898;
    font-weight: 400;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#subHeading{
    margin-left: 1em;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

#mainRow{
    margin-left: 6em;
    margin-top: 5em;
}

/* #trainingHeading{
    margin-top: 2em;
} */